
     <!-- HEADER START -->
     <header class="site-header header-style-1">
        <div class="top-bar bg-gray">
            <div class="container">
                <div class="row">
                    <div class="mt-topbar-left clearfix">
                        <ul class="list-unstyled e-p-bx pull-right">
                            <li><i class="fa fa-envelope"></i> contact.webmafi@gmail.com</li>
                            <li><i class="fa fa-phone"></i>(075) 123-7654</li>
                            <li><i class="fa fa-clock-o"></i>Sun-Sat 9.45 am</li>
                        </ul>
                    </div>
                    <div class="mt-topbar-right clearfix">
                        <div class="appint-btn"><a href="#" class="site-button">Make an Appointment</a></div>                            
                    </div>
                </div>
            </div>
        </div>          
        <div class="sticky-header main-bar-wraper">
            <div class="main-bar bg-white">
                <div class="container">
                    <div class="logo-header">
                        <div class="logo-header-inner logo-header-one">
                            <a href="index.html">
                                <img src="assets/images/logo Mafi-1.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <!-- NAV Toggle Button -->
                    <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                        <!-- ETRA Nav -->
                        <div class="extra-nav">
                           
                            <div class="extra-cell">
                                <a  class="contact-slide-show"><i class="fa fa-angle-left arrow-animation"></i></a>
                            </div>                                
                        </div>
                        <!-- ETRA Nav -->
    
                        <!-- Contact Nav -->                            
                         <div class="contact-slide-hide " style="background-image:url(assets/images/background/bg-5.png)"> 
                            <div class="contact-nav">
                                 <a href="javascript:void(0)" class="contact_close">&times;</a>
                                 <div class="contact-nav-form p-a30">
                                    <div class="contact-info   m-b30">
                         
                                        <div class="mt-icon-box-wraper center p-b30">
                                            <div class="icon-xs m-b20 scale-in-center"><i class="fa fa-phone"></i></div>
                                            <div class="icon-content">
                                                <h5 class="m-t0 font-weight-500">Phone number</h5>
                                                <p>(075) 123-7654</p>
                                            </div>
                                        </div>
                                        
                                        <div class="mt-icon-box-wraper center p-b30">
                                            <div class="icon-xs m-b20 scale-in-center"><i class="fa fa-envelope"></i></div>
                                            <div class="icon-content">
                                                <h5 class="m-t0 font-weight-500">Email address</h5>
                                                <p>contact.webmafi@gmail.com</p>
                                            </div>
                                        </div>
                                        
                                        <div class="mt-icon-box-wraper center p-b30">
                                            <div class="icon-xs m-b20 scale-in-center"><i class="fa fa-map-marker"></i></div>
                                            <div class="icon-content">
                                                <h5 class="m-t0 font-weight-500">Address info</h5>
                                                <p>201 Liverpool Street, Suite 721, London</p>
                                            </div>
                                        </div>
                                    </div>                                          
                                    <div class="full-social-bg">
                                          <ul>
                                                <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" class="google"><i class="fa fa-google"></i></a></li>
                                                <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="#" class="tumblr"><i class="fa fa-tumblr"></i></a></li>
                                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
                                          </ul>
                                    </div>
                                    <div class="text-center">
                                        <h4 class="font-weight-600">&copy;  2022 WebMafi</h4> 
                                    </div>                                                                    			
                                 </div>
                            </div> 
                        </div>                               
                        <!-- SITE Search -->
                        <div id="search"> 
                            <span class="close"></span>
                            <form role="search" id="searchform" action="/search" method="get" class="radius-xl">
                                <div class="input-group">
                                    <input value="" name="q" type="search" placeholder="Type to search"/>
                                    <span class="input-group-btn"><button type="button" class="search-btn"><i class="fa fa-search arrow-animation"></i></button></span>
                                </div>   
                            </form>
                        </div>                                                                                                          
                        <!-- MAIN Vav -->
                        <div class="header-nav navbar-collapse collapse">
                            <ul class=" nav navbar-nav">
                                <li class="active">
                                    <a href="/home">Home</a>
                                                                                   
                                </li>
    
                                <li>
                                    <a href="/about">About us</a>
                                </li> 
                                <li>
                                    <a href="/services">Services</a>
                                </li> 
                                <li>
                                    <a href="/projectM">Produits</a>
                                    <!-- <ul class="sub-menu">
                                        <li *ngFor="let categorie of categories">
                                            <a href="javascript:;">{{categorie.Name}}</a>
                                            <ul class="sub-menu has-child">
                                                <li *ngFor="let souscategorie of souscategories "><a href="blog-grid.html">{{souscategorie.Titre}}</a></li>
                                               
                                            </ul>
                                        </li>                                        
                                       
                                    </ul> -->
                                </li>                                                                                                                                               
                                <li>
                                    <a href="/login">Login</a>
                                </li>
                                <li>
                                    <a href="/register">Registre</a>
                                </li>                                   
    
                                <li>
                                    <a href="/contact">Contact us</a>
                                </li>                         
                            </ul>
                        </div>
                        
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->



<div class="container">
    
    <div class="box" [hidden]="!test">
        <img src="../../assets/img/logo.png" alt="" srcset="" class="logo">
        <h3>Forget Password</h3>
        <div class="row">

        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="email" placeholder="Email" name="email" [(ngModel)]="forget.email">
            </div>
        </div>
        
        <br>
        <div class="row">
            <div class="col-md-12">
                <a routerLink="/login" style="color: #F5BF23;">Login</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary btn1" (click)="click()">
                    Send  Code <i class='bx bx-send'></i>
                </button>
            </div>
        </div>
    </div>
        <!-- code verification -->
    <div class="box" [hidden]="test">
        <img src="../../assets/img/logo.png" alt="" srcset="" class="logo">
        <h3>verification code</h3>
        <div class="row">

        </div>
        <div class="row">
            <div class="col">
                <div class="alert alert-danger" role="alert" [hidden]="test1">
                    Wrong verification code
                  </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="text" placeholder="verification Code" name="Code" [(ngModel)]="code">
            </div>
        </div>
        
        <br>
        <div class="row">
            <div class="col-md-12">
                <a type="button" (click)="click()">Resend code</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary btn1" (click)="verifCode()">
                Verif code 
                </button>
            </div>
        </div>
    </div>




</div>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
   <!-- FOOTER START -->
   <footer class="site-footer footer-large  footer-dark	footer-wide">
    <div class="container call-to-action-wrap bg-no-repeat bg-center" style="background-image:url(assets/images/background/bg-site.png);">
        <div class="p-a30 bg-primary ">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div class="call-to-action-left text-black">
                        <h4 class="text-uppercase m-b10 m-t0">Subscribe to our newsletter!</h4>
                        <span>Never Miss Anything From Construx By Signing Up To Our Newsletter.</span>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-4">
                    <div class="call-to-action-right">
                        <div class="widget_newsletter">
                            <div class="newsletter-bx">
                                <form role="search" method="post">
                                    <div class="input-group">
                                        <input name="news-letter" class="form-control" placeholder="ENTER YOUR EMAIL" type="text">
                                        <span class="input-group-btn">
                                            <button type="submit" class="site-button"><i class="fa fa-paper-plane-o"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>                                                           
                    </div>
                </div>
            </div>
         </div>
    </div>            
    <!-- FOOTER BLOCKES START -->  
    <div class="footer-top overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="row">
                <!-- ABOUT COMPANY -->
                <div class="col-lg-3 col-md-6 col-sm-6">  
                    <div class="widget widget_about">
                        <!--<h4 class="widget-title">About Company</h4>-->
                        <div class="logo-footer clearfix p-b15">
                            <a href="index.html"><img src="assets/images/logo Mafi-1.png" alt=""></a>
                        </div>
                        <p class="max-w400">Today we can tell you, thanks to your passion, hard work creativity, and expertise, you delivered us the most beautiful house great looks.</p>                                
                        
                        <ul class="social-icons  mt-social-links">
                            <li><a href="javascript:void(0);" class="fa fa-google"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                        </ul>                                     
                    </div>
                </div> 
                
                <!-- RESENT POST -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget_address_outer">
                        <h4 class="widget-title">Contact Us</h4>
                        <ul class="widget_address">
                            <li>34/7 Liverpool Street, Suite 636, London, United Kingdom</li>
                            <li>contact.webmafi@gmail.com</li>
                            <li>(+298) 012-3456-789</li>
                            <li>(+298) 146-6543-480</li>
                        </ul>
                   
                    </div>                                              	
                </div>                          
                
                  <!-- USEFUL LINKS -->
            <div class="col-lg-3 col-md-6 col-sm-6 footer-col-3">
                <div class="widget widget_services inline-links">
                    <h4 class="widget-title">Useful links</h4>
                    <ul>
                        <li><a href="/about">About us</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/projectM">Produits</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Registre</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>                           
            </div>
            
       
                <!-- NEWSLETTER -->

            </div>
        </div>  
    </div>
    <!-- FOOTER COPYRIGHT -->
    <div class="footer-bottom overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="row">
                <div class="mt-footer-bot-center">
                    <span class="copyrights-text">© 2022 WebMafi</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->
