    <!-- HEADER START -->
    <header class="site-header header-style-1">
      <div class="top-bar bg-gray">
          <div class="container">
              <div class="row">
                  <div class="mt-topbar-left clearfix">
                      <ul class="list-unstyled e-p-bx pull-right">
                          <li><i class="fa fa-envelope"></i>contact.webmafi@gmail.com</li>
                          <li><i class="fa fa-phone"></i>(216) 55-489-698</li>
                      </ul>
                  </div>
                  <div class="mt-topbar-right clearfix">
                      <div class="appint-btn"><a href="#" class="site-button">Bienvenue chez nous</a></div>                            
                  </div>
              </div>
          </div>
      </div>          
      <div class="sticky-header main-bar-wraper">
          <div class="main-bar bg-white">
              <div class="container">
                  <div class="logo-header">
                      <div class="logo-header-inner logo-header-one">
                          <a href="index.html">
                              <img src="assets/images/logo Mafi-1.png" alt="" />
                          </a>
                      </div>
                  </div>
                  <!-- NAV Toggle Button -->
                  <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                      <!-- ETRA Nav -->
                      <div class="extra-nav">
                          
                          <div class="extra-cell">
                              <a class="contact-slide-show"><i class="fa fa-angle-left arrow-animation"></i></a>
                          </div>                                
                      </div>
                      <!-- ETRA Nav -->
  
                      <!-- Contact Nav -->                            
                       <div class="contact-slide-hide " style="background-image:url(assets/images/background/bg-5.png)"> 
                          <div class="contact-nav">
                               <a href="javascript:void(0)" class="contact_close">&times;</a>
                               <div class="contact-nav-form p-a30">
                                  <div class="contact-info   m-b30">
                       
                                      <div class="mt-icon-box-wraper center p-b30">
                                          <div class="icon-xs m-b20 scale-in-center"><i class="fa fa-phone"></i></div>
                                          <div class="icon-content">
                                              <h5 class="m-t0 font-weight-500">Phone number</h5>
                                              <p>(216) 55-489-698</p>
                                          </div>
                                      </div>
                                      
                                      <div class="mt-icon-box-wraper center p-b30">
                                          <div class="icon-xs m-b20 scale-in-center"><i class="fa fa-envelope"></i></div>
                                          <div class="icon-content">
                                              <h5 class="m-t0 font-weight-500">Email address</h5>
                                              <p>contact.webmafi@gmail.com</p>
                                          </div>
                                      </div>
                                      
                                      <div class="mt-icon-box-wraper center p-b30">
                                          <div class="icon-xs m-b20 scale-in-center"><i class="fa fa-map-marker"></i></div>
                                          <div class="icon-content">
                                              <h5 class="m-t0 font-weight-500">Address info</h5>
                                              <p>Mahdia , zone touristique</p>
                                          </div>
                                      </div>
                                  </div>                                          
                                  <div class="full-social-bg">
                                        <ul>
                                              <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                              <li><a href="#" class="google"><i class="fa fa-google"></i></a></li>
                                              <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                              <li><a href="#" class="tumblr"><i class="fa fa-tumblr"></i></a></li>
                                              <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                              <li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
                                        </ul>
                                  </div>
                                  <div class="text-center">
                                      <h4 class="font-weight-600">&copy;  2022 webmafi</h4> 
                                  </div>                                                                    			
                               </div>
                          </div> 
                      </div>                               
                      <!-- SITE Search -->
                      <div id="search"> 
                          <span class="close"></span>
                          <form role="search" id="searchform" action="/search" method="get" class="radius-xl">
                              <div class="input-group">
                                  <input value="" name="q" type="search" placeholder="Type to search"/>
                                  <span class="input-group-btn"><button type="button" class="search-btn"><i class="fa fa-search arrow-animation"></i></button></span>
                              </div>   
                          </form>
                      </div>                                                                                                          
                       <!-- MAIN Vav -->
                       <div class="header-nav navbar-collapse collapse">
                          <ul class=" nav navbar-nav">
                              <li class="active">
                                  <a href="/home">Accueil</a>
                                                                                 
                              </li>
  
                             
                              <li>
                                  <a href="/projectM"> Produits</a>
                                  
                              </li>                                                                                                                                               
                              <li>
                                  <a href="/login">Login</a>
                              </li>
                              <li>
                                  <a href="/register">Registre</a>
                              </li>                                   
  
                              <li>
                                  <a href="/contact">Contactez-nous</a>
                              </li>                         
                          </ul>
                      </div>
                      
                      
              </div>
          </div>
      </div>
  </header>
  <!-- HEADER END -->

 
 
 <!-- OUR PROJECT START -->
 <div class="section-full mobile-page-padding p-t80 p-b30 square_shape2" >
  <div class="container">
      <!-- TITLE START -->
      <div class="section-head">
          <div class="mt-separator-outer separator-left">
              <div class="mt-separator">
                  <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Notre</span> Liste Utilisateur</h2>
              </div>
          </div>
      </div>                   
      <!-- TITLE END --> 

          <div class="section-content">

               <div class="portfolio-wrap row mfp-gallery product-stamp clearfix">
                  <!-- COLUMNS 1 -->
                  <div class=" col-md-3 col-sm-6 ">
                    <div class="bg-gray p-a60">
                        <div class="header-nav navbar-collapse ">
                            <ul class=" nav navbar-nav  text-uppercase">
                                <li class="sub-menu">
                                  <a href=""> Tableau de bord</a>
                                                                                 
                                </li>

                                <li>
                                    <a href="javascript:;">Gestion Utilisateur</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="user/index">Consulte User</a>
                                        </li>                                    
                                       
                                        <li>
                                            <a href="user/:userId/edit">Update user</a>
                                        </li>                                            
                                        <li>
                                            <a href="user/:userId/view">View user</a>
                                        </li>
                                    </ul>
                                </li>  
                                <li>
                                    <a href="javascript:;">Gestion Produits</a>
                                    <ul class="sub-menu">
                                        <li><a href="">Add Products</a></li>
                                        <li><a href="">Update products</a></li>
                                        <li><a href="">View Products</a></li>
                                    </ul>                                                                                                                                              
                                </li>

                                    <li>
                                        <a href="javascript:;">Gestion Catrgories</a>
                                        <ul class="sub-menu">
                                            <li><a href="">Add Categories</a></li>
                                            <li><a href="">Update categories</a></li>
                                            <li><a href="">View categories</a></li>
                                        </ul>                                                                                                                                              
                                    </li>
                                    <li>
                                        <a href="javascript:;">Gestion sousCatrgories</a>
                                        <ul class="sub-menu">
                                            <li><a href="">Add sousCategories</a></li>
                                            <li><a href="">Update souscategories</a></li>
                                            <li><a href="">View souscategories</a></li>
                                        </ul>                                                                                                                                              
                                    </li>
                                <li>
                                    <a href="javascript:;">Gestion consultation</a>
                                    <ul class="sub-menu">
                                        <li><a href="">consulte consultation</a></li>
                                        <li><a href="">Accepte consultation</a></li>
                                        <li><a href="">Refuse consultation</a></li>
                                    </ul>                                    
                                </li> 
                                
                                <li>
                                    <a href="javascript:;">Gestion Devis</a>
                                    <ul class="sub-menu">
                                        <li><a href="">consulte Devis</a></li>
                                        <li><a href=""> Calcul Devis</a></li>
                                    </ul>                                    
                                </li>         

                                <li>
                                    <a href="javascript:;">Gestion rendez-vous</a>
                                    <ul class="sub-menu">
                                        <li><a href="">consulte rendez-vous</a></li>
                                        <li><a href="">Accepte rendez-vous</a></li>
                                        <li><a href="">Refuse rendez-vous</a></li>                            
                                    </ul>
                                </li>

                                <li>
                                    <a href="javascript:;">Gestion Etude Projet</a>
                                    <ul class="sub-menu">
                                        <li><a href="">consulte Etude Projet</a></li>
                                        <li><a href="">Etudier Demande</a></li>
                                        <li><a href="">Archiver Demande</a></li>                            
                                    </ul>
                                </li>
                                                              
                            </ul>
                        </div>                        
                    </div>            
                </div>
                  <!-- COLUMNS 2 -->
                  <div class="  cat-2 col-md-9 col-sm-6 m-b30">

                    <div class="form-group" align="right">
                        <select name="term1" id="inputGroupSelect01" [(ngModel)]="term1.c"
                          class="custom-select" style="font-weight:bolder;">
                          <option value="" selected disabled>Choisir statut</option>
                          <option value="">Tous</option>
                          <option value="en attente">En attente</option>
                          <option value="accepter">Accepteé</option>

                        

                          </select>
                      </div>
                                            <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Créer Utilisateur  </button> -->
    <button mat-raised-button style="background-color: #F5BF23; width: 20%; "class="btn-block" data-toggle="modal" data-target="#exampleModal"  type="button" >Créer Utilisateur </button>

    <br>
    <br>
                    <!-- <a href="#" routerLink="/user/create" class="btn btn-primary"><b>Créer Utilisateur</b></a>
                    <br>
                    <br> -->
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Prenom</th>
                          <th>Nom</th>
                          <th>Email</th>
                          <th>Role</th>
                          <th>Status</th>

                          <th width="50px;" >Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of users | filter:term1.c">
                            <ng-template  [ngIf]="user.status!='archiver' ">

                          <td>{{ user.id }}</td>
                          <td>{{ user.firstname }}</td>
                          <td>{{ user.lastname }}</td>
                          <td>{{ user.email }}</td>
                          <td>{{ user.roles}}</td>
                          <td>{{ user.status}}</td>
                          <td>

                            <!-- <a  [routerLink]="['/user/', user.id, 'view'] " class="site-button  blue">View</a> -->

                            <button mat-raised-button color=primary style="width: 90%; " class="btn-block"  *ngIf="user.status =='en attente'" (click)="validate(user.id)" >Approuver</button>

                            <!-- <a *ngIf="user.status =='en attente'" (click)="validate(user.id)" class="site-button  green">Approuver</a> -->
                            <!-- <a href="#" [routerLink]="['/user/', user.id, 'edit'] " type="button" class=" site-button  green " >Edit</a> -->
                            <!-- <button  class=" site-button  red " type="button"*ngIf="user.status =='en attente'" (click)="archiver(user.id)" >Archiver</button> -->
                            <button mat-raised-button color=warn style="width: 90%; " class="btn-block"  *ngIf="user.status =='en attente'" (click)="archiver(user.id)" type="button">Archiver</button>
                            <button mat-raised-button color=primary style="width: 90%; " class="btn-block"  [routerLink]="['/user/', user.id, 'view'] "  type="button" >Détail</button>

                          </td>
                
                </ng-template>
                        <tr>
                      </tbody>
                  </table>
                      <!-- TITLE END --> 
 
                  </div>
                  
            
                  
                 
         
                  
                                                                  
                  
               
                  
              
                  
                                               
               </div>

          </div>
      
  </div>
  <div class="hilite-title text-left p-l50 text-uppercase text-pop-up-top">
      <strong>Users</strong>
  </div>                
</div>   
<!-- OUR PROJECT END -->


   <!-- Modal -->
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-secondry">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-white">Créer Utilisateur</h4>
          </div>
        <div class="modal-body">

                  <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label>Nom</label>
                                <input
                                [(ngModel)]="user.firstname"
                                  type="text"
                                  formControlName="firstname"
                                  class="form-control"
                                  [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }"
                                />
                                <div *ngIf="submitted && f['firstname'].errors" class="invalid-feedback">
                                  <div *ngIf="f['firstname'].errors['required']" class="alert alert-danger">firstname is required</div>
                                </div>
                              </div>
                                    
                              <div class="form-group">
                                <label>Prénom</label>
                                <input
                                [(ngModel)]="user.lastname"
                          
                                  type="text"
                                  formControlName="lastname"
                                  class="form-control"
                                  [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }"
                                />
                                <div *ngIf="submitted && f['lastname'].errors" class="invalid-feedback">
                                  <div *ngIf="f['lastname'].errors['required']" class="alert alert-danger">lastname is required</div>
                                 
                                </div>
                              </div>

                              <div class="form-group">
                                <label>Email</label>
                                <input
                                [(ngModel)]="user.email"
                          
                                  type="text"
                                  formControlName="email"
                                  class="form-control"
                                  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                                />
                                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                  <div *ngIf="f['email'].errors['required']" class="alert alert-danger">Email is required</div>
                                  <div *ngIf="f['email'].errors['email']" class="alert alert-danger">Email is invalid</div>
                                </div>
                              </div>
              
                
                              <div class="form-group" appearance="fill">
                                <label>Mot de passe</label>
                                <input matInput 
                                [(ngModel)]="user.password"
                          
                                  type="password"
                                  formControlName="password"
                                  class="form-control"
                                  [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                                />
                               
                                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                  <div *ngIf="f['password'].errors['required']" class="alert alert-danger">Password is required</div>
                                  <div *ngIf="f['password'].errors['minlength']" class="alert alert-danger">
                                    Password must be at least 6 characters
                                  </div>
                                  <div *ngIf="f['password'].errors['maxlength']" class="alert alert-danger">
                                    Password must not exceed 40 characters
                                  </div>
                                </div>
                              </div>
                              <div class="form-group ">
                                <label>Confirmer Mot de passe</label>
                                <input
                                  type="password"
                                  formControlName="confirmPassword"
                                  class="form-control"
                                  [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
                                />
                                <div
                                  *ngIf="submitted && f['confirmPassword'].errors"
                                  class="invalid-feedback" 
                                >
                                  <div *ngIf="f['confirmPassword'].errors['required']" class="alert alert-danger">
                                    Confirm Password is required
                                  </div>
                                  <div *ngIf="f['confirmPassword'].errors['matching']" class="alert alert-danger">
                                    Confirm Password does not match
                                  </div>
                                </div>
                              </div>
                          
                              <div class="form-group ">
                                <label>Role</label>
                                <select
                                [(ngModel)]="user.roles"
                          
                                  type="text"
                                  formControlName="roles"
                                  class="form-control"
                                  [ngClass]="{ 'is-invalid': submitted && f['roles'].errors }"
                                >
                          
                                <option *ngFor="let roles of Roles" [value]="roles">{{roles}}</option>
                                </select>
                                <div *ngIf="submitted && f['roles'].errors"class="invalid-feedback">
                                  <div *ngIf="f['roles'].errors['required']" class="alert alert-danger">
                                    role is required
                                  </div>      
                                </div>
                              </div>
                          
                       
                              <button type="submit" class="site-button btn-effect text-uppercase button-sm letter-spacing-2" >Créer</button>
                              <br>
                              <br>
                              <!-- <button
                            type="button"
                            (click)="onReset()"
                            class="site-button btn-effect text-uppercase button-sm letter-spacing-2">
                            Reset
                          </button> -->


                            <!-- <br>
                            <br>
                            <button class="btn btn-warning" type="button"  [routerLink]="['/user/index']" >Back To List</button> -->
                    
                    
                        </form>
                             
                        <div class="modal-footer">
                            <button type="button" class="site-button btn-effect text-uppercase button-sm letter-spacing-2 m-r15" data-dismiss="modal">Fermer</button>
            
                          </div>
      </div>
    </div>
  </div>
  </div>









