<!-- HEADER START -->
<header class="site-header header-style-1">
    <div class="top-bar bg-gray">
        <div class="container">
            <div class="row">
                <div class="mt-topbar-left clearfix">
                    <ul class="list-unstyled e-p-bx pull-right">
                        <li><i class="fa fa-envelope"></i> 7xthemehelp@gmail.com</li>
                        <li><i class="fa fa-phone"></i>(075) 123-7654</li>
                        <li><i class="fa fa-clock-o"></i>Sun-Sat 9.45 am</li>
                    </ul>
                </div>
                <div class="mt-topbar-right clearfix">
                    <div class="appint-btn"><a href="#" class="site-button">Make an Appointment</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-header main-bar-wraper">
        <div class="main-bar bg-white">
            <div class="container">
                <div class="logo-header">
                    <div class="logo-header-inner logo-header-one">
                        <a href="index.html">
                            <img src="assets/images/logo-light.png" alt="" />
                        </a>
                    </div>
                </div>
                <!-- NAV Toggle Button -->
                <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- ETRA Nav -->
                <div class="extra-nav">

                    <div class="extra-cell">
                        <a href="#" class="contact-slide-show"><i class="fa fa-angle-left arrow-animation"></i></a>
                    </div>
                </div>
                <!-- ETRA Nav -->

                <!-- Contact Nav -->
                <div class="contact-slide-hide " style="background-image:url(assets/images/background/bg-5.png)">
                    <div class="contact-nav">
                        <a href="javascript:void(0)" class="contact_close">&times;</a>
                        <div class="contact-nav-form p-a30">
                            <div class="contact-info   m-b30">

                                <div class="mt-icon-box-wraper center p-b30">
                                    <div class="icon-xs m-b20 scale-in-center"><i class="fa fa-phone"></i></div>
                                    <div class="icon-content">
                                        <h5 class="m-t0 font-weight-500">Phone number</h5>
                                        <p>(075) 123-7654</p>
                                    </div>
                                </div>

                                <div class="mt-icon-box-wraper center p-b30">
                                    <div class="icon-xs m-b20 scale-in-center"><i class="fa fa-envelope"></i></div>
                                    <div class="icon-content">
                                        <h5 class="m-t0 font-weight-500">Email address</h5>
                                        <p>7xthemehelp@gmail.com</p>
                                    </div>
                                </div>

                                <div class="mt-icon-box-wraper center p-b30">
                                    <div class="icon-xs m-b20 scale-in-center"><i class="fa fa-map-marker"></i></div>
                                    <div class="icon-content">
                                        <h5 class="m-t0 font-weight-500">Address info</h5>
                                        <p>201 Liverpool Street, Suite 721, London</p>
                                    </div>
                                </div>
                            </div>
                            <div class="full-social-bg">
                                <ul>
                                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="google"><i class="fa fa-google"></i></a></li>
                                    <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#" class="tumblr"><i class="fa fa-tumblr"></i></a></li>
                                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                            <div class="text-center">
                                <h4 class="font-weight-600">&copy; 2019 7xtheme</h4>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- MAIN Vav -->
                <div class="header-nav navbar-collapse collapse">
                    <ul class=" nav navbar-nav">
                        <li class="active">
                            <a href="/home">Home</a>

                        </li>

                        <li>
                            <a href="../about/about.component.html">About us</a>
                        </li>
                        <li>
                            <a href="/services">Services</a>
                        </li>
                        <li>
                            <a href="/projectM">Produits</a>
                            <!-- <ul class="sub-menu">
                                    <li *ngFor="let categorie of categories">
                                        <a href="javascript:;">{{categorie.Name}}</a>
                                        <ul class="sub-menu has-child">
                                            <li *ngFor="let souscategorie of souscategories "><a href="blog-grid.html">{{souscategorie.Titre}}</a></li>
                                           
                                        </ul>
                                    </li>                                        
                                   
                                </ul> -->
                        </li>
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <a href="/register">Registre</a>
                        </li>

                        <li>
                            <a href="/contact">Contact us</a>
                        </li>
                        <li>

                            <!-- <a routerLink="/cart" class="button fancy-button">
                                <i class="fa fa-cart-plus" style="font-size: 25px;"></i>
                                <div style="font-size: 10px;" class="badge bg-danger" style="color:black;">{{totalItem}}
                                </div>
                            </a> -->
                            <!-- <a routerLink="/cart" class="button fancy-button">
                                    <i class="material-icons">shopping_cart</i>Checkout
                                  </a> -->

                        </li>


                    </ul>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- HEADER END -->

<div class="section-full mobile-page-padding p-t80 p-b30 square_shape2">
    <div class="container">
        <div class="section-head">
            <div class="mt-separator-outer separator-left">

            </div>
        </div>

        <div class="section-content">

            <div class="portfolio-wrap row mfp-gallery product-stamp clearfix">
                <!-- COLUMNS 1 -->
                <div class=" col-md-3 col-sm-6 ">
                    <div class="bg-gray p-a60">
                        <div class="header-nav navbar-collapse ">
                            <ul class=" nav navbar-nav  text-uppercase">

                                <li>
                                    <a href="/user">Dashboard user</a>

                                </li>

                                <div class="header-nav navbar-collapse ">
                                    <ul class=" nav navbar-nav  text-uppercase">


                                        <li>
                                            <a href="/profile">Profile</a>

                                        </li>




                                        <li>
                                            <a href="javascript:;">Consultation</a>
                                            <ul class="sub-menu">
                                                <li><a href="/consultationuser/create">Demande consultation</a></li>
                                                <li><a href="/consultationuser/index">Suivre consultation</a></li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="javascript:;"> Devis</a>
                                            <ul class="sub-menu">
                                                <li><a href='/devisuser/create'>Demande Devis</a></li>
                                                <li><a href="/devisuser/index"> Suivre Devis</a></li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="javascript:;">Rendez-vous</a>
                                            <ul class="sub-menu">
                                                <li><a href="/rendezvoususer/create">Demande rendez-vous</a></li>
                                                <li><a href="/rendezvoususer/index">Suivre rendez-vous</a></li>

                                            </ul>
                                        </li>

                                        <li>
                                            <a href="javascript:;">Etude Projet</a>
                                            <ul class="sub-menu">
                                                <li><a href="/projetuser/create">Demande Etude Projet</a></li>
                                                <li><a href="/projetuser/index">Suivre Demande</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                                <!-- <li>
                                    <a *ngIf="loggedIn()" (click)="logout()">Log Out</a>
                                </li> -->

                            </ul>
                        </div>
                    </div>
                </div>


                <div class="  col-md-9 col-sm-6 m-b30">

                    <form (ngSubmit)="onClick()" *ngIf="loggedIn()">
                        <div class="mt-separator" style="margin-left:100px;">
                            <h2 class="text-uppercase sep-line-one "><span
                                    class="font-weight-300 text-primary">validez</span>
                                votre commande..</h2>
                        </div>
                        <div class="form-group">

                            <label>Product:</label><input type="text" value="{{TotalName}}" id="Products"
                                class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label>Qte</label>
                            <input id="Qte" type="text"  value="{{TotalQte}}" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label>Total</label>
                            <input type="number" value="{{Total}}" id="Prix" class="form-control" readonly>
                        </div>
                        <input type="number" value="{{data.id}}" id="user" hidden readonly>

                        <button type="submit" class="btn btn-primary">Valider</button><br><br>

                    </form>

                    <ng-container *ngIf="!loggedIn()">
                        <div class="mt-separator" style="margin-left:100px;">
                            <h2 class="text-uppercase sep-line-one "><span
                                    class="font-weight-300 text-primary">Login</span>
                                Here..</h2>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">

                            <div class="form-group col-9">
                                <label>Email</label>
                                <input [(ngModel)]="user.email" type="text" formControlName="email" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                    <div *ngIf="f['email'].errors['required']" class="alert alert-danger">Email is
                                        required</div>
                                    <div *ngIf="f['email'].errors['email']" class="alert alert-danger">Email is invalid
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-9">
                                <label>Password</label>
                                <input [(ngModel)]="user.password" type="password" formControlName="password"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />


                                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors['required']" class="alert alert-danger">Password is
                                        required</div>
                                    <div *ngIf="f['password'].errors['minlength']" class="alert alert-danger">
                                        Password must be at least 6 characters
                                    </div>
                                    <div *ngIf="f['password'].errors['maxlength']" class="alert alert-danger">
                                        Password must not exceed 40 characters
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-9">
                                <button type="submit" class="btn btn-primary">Login</button><br><br>

                                <button type="button" (click)="onReset()" class="btn btn-warning float-right">
                                    Reset
                                </button>
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-6 col-md-6 ">

                                    <a [routerLink]="['/register']"
                                        style="font-weight:bold; color: black; text-decoration: none;  "> Register here
                                        !</a>
                                </div>
                                <div class="col-sm-6  col-md-6 ">

                                    <a [routerLink]="['/home']"
                                        style="font-weight:bold; color: black; text-decoration: none;"> Back to homepage
                                    </a>
                                </div>
                            </div>

                        </form>

                    </ng-container>


                </div>
            </div>
        </div>
    </div>
</div>