    <!-- HEADER START -->
    <header class="site-header header-style-1">
        <div class="top-bar bg-gray">
            <div class="container">
                <div class="row">
                    <div class="mt-topbar-left clearfix">
                        <ul class="list-unstyled e-p-bx pull-right">
                            <li><i class="fa fa-envelope"></i> 7xthemehelp@gmail.com</li>
                            <li><i class="fa fa-phone"></i>(075) 123-7654</li>
                            <li><i class="fa fa-clock-o"></i>Sun-Sat 9.45 am</li>
                        </ul>
                    </div>
                    <div class="mt-topbar-right clearfix">
                        <div class="appint-btn"><a href="#" class="site-button">Make an Appointment</a></div>                            
                    </div>
                </div>
            </div>
        </div>          
        <div class="sticky-header main-bar-wraper">
            <div class="main-bar bg-white">
                <div class="container">
                    <div class="logo-header">
                        <div class="logo-header-inner logo-header-one">
                            <a href="index.html">
                                <img src="assets/images/logo Mafi-1.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <!-- NAV Toggle Button -->
                    <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                        <!-- ETRA Nav -->
                        <div class="extra-nav">
                            
                            <div class="extra-cell">
                                <a href="#" class="contact-slide-show"><i class="fa fa-angle-left arrow-animation"></i></a>
                            </div>                                
                        </div>
                        <!-- ETRA Nav -->
    
                        <!-- Contact Nav -->                            
                         <div class="contact-slide-hide " style="background-image:url(assets/images/background/bg-5.png)"> 
                            <div class="contact-nav">
                                 <a href="javascript:void(0)" class="contact_close">&times;</a>
                                 <div class="contact-nav-form p-a30">
                                    <div class="contact-info   m-b30">
                         
                                        <div class="mt-icon-box-wraper center p-b30">
                                            <div class="icon-xs m-b20 scale-in-center"><i class="fa fa-phone"></i></div>
                                            <div class="icon-content">
                                                <h5 class="m-t0 font-weight-500">Phone number</h5>
                                                <p>(075) 123-7654</p>
                                            </div>
                                        </div>
                                        
                                        <div class="mt-icon-box-wraper center p-b30">
                                            <div class="icon-xs m-b20 scale-in-center"><i class="fa fa-envelope"></i></div>
                                            <div class="icon-content">
                                                <h5 class="m-t0 font-weight-500">Email address</h5>
                                                <p>7xthemehelp@gmail.com</p>
                                            </div>
                                        </div>
                                        
                                        <div class="mt-icon-box-wraper center p-b30">
                                            <div class="icon-xs m-b20 scale-in-center"><i class="fa fa-map-marker"></i></div>
                                            <div class="icon-content">
                                                <h5 class="m-t0 font-weight-500">Address info</h5>
                                                <p>201 Liverpool Street, Suite 721, London</p>
                                            </div>
                                        </div>
                                    </div>                                          
                                    <div class="full-social-bg">
                                          <ul>
                                                <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" class="google"><i class="fa fa-google"></i></a></li>
                                                <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="#" class="tumblr"><i class="fa fa-tumblr"></i></a></li>
                                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
                                          </ul>
                                    </div>
                                    <div class="text-center">
                                        <h4 class="font-weight-600">&copy;  2019 7xtheme</h4> 
                                    </div>                                                                    			
                                 </div>
                            </div> 
                        </div>                               
                        <!-- SITE Search -->
                        <div id="search"> 
                            <span class="close"></span>
                            <form role="search" id="searchform" action="/search" method="get" class="radius-xl">
                                <div class="input-group">
                                    <input value="" name="q" type="search" placeholder="Type to search"/>
                                    <span class="input-group-btn"><button type="button" class="search-btn"><i class="fa fa-search arrow-animation"></i></button></span>
                                </div>   
                            </form>
                        </div>                                                                                                          
                         <!-- MAIN Vav -->
                         <div class="header-nav navbar-collapse collapse">
                            <ul class=" nav navbar-nav">
                                <li class="active">
                                    <a href="/home">Home</a>
                                                                                   
                                </li>
    
                                <li>
                                    <a href="/about">About us</a>
                                </li> 
                                <li>
                                    <a href="/services">Services</a>
                                </li> 
                                <li>
                                    <a href="/projectM"> Produits</a>
                                    
                                </li>                                                                                                                                               
                                <li>
                                    <a href="/login">Login</a>
                                </li>
                                <li>
                                    <a href="/register">Registre</a>
                                </li>                                   
    
                                <li>
                                    <a href="/contact">Contact us</a>
                                </li>                         
                            </ul>
                        </div>
                        
                        
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

 <!-- OUR PROJECT START -->
 <div class="section-full mobile-page-padding p-t80 p-b30 square_shape2" >
    <div class="container">
        <!-- TITLE START -->
        <div class="section-head">
            <div class="mt-separator-outer separator-left">
                <div class="mt-separator">
                    <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">NOTRe</span> liste devis</h2>
                </div>
            </div>
        </div>                   
        <!-- TITLE END --> 
  
            <div class="section-content">
  
                 <div class="portfolio-wrap row mfp-gallery product-stamp clearfix">
                    <!-- COLUMNS 1 -->
                    <div class=" col-md-3 col-sm-6 ">
                      <div class="bg-gray p-a60">
                          <div class="header-nav navbar-collapse ">
                              <ul class=" nav navbar-nav  text-uppercase">
                                  
                                <li>
                                    <a href="/user">Dashboard user</a>
                                   
                                  </li>  
                                  <li>
                                    <a href="user/:userId/view">Profil</a>
                                   
                                  </li>  
                                  
  
                                    
                                    
                                  <li>
                                      <a href="javascript:;">Consultation</a>
                                      <ul class="sub-menu">
                                          <li><a href="consultationuser/create">Demande consultation</a></li>
                                          <li><a href="consultationuser/index">Suivre consultation</a></li>
                                      </ul>                                    
                                  </li> 
                                  
                                  <li>
                                      <a href="javascript:;"> Devis</a>
                                      <ul class="sub-menu">
                                          <li><a href="">Demande Devis</a></li>
                                          <li><a href=""> Suivre Devis</a></li>
                                      </ul>                                    
                                  </li>         
  
                                  <li>
                                      <a href="javascript:;">Rendez-vous</a>
                                      <ul class="sub-menu">
                                          <li><a href="">Demande rendez-vous</a></li>
                                          <li><a href="">Suivre rendez-vous</a></li>
                                                         
                                      </ul>
                                  </li>
  
                                  <li>
                                      <a href="javascript:;">Etude Projet</a>
                                      <ul class="sub-menu">
                                          <li><a href="">Demande Etude Projet</a></li>
                                          <li><a href="">Suivre Demande</a></li>
                                      </ul>
                                  </li>
                                                                
                              </ul>
                          </div>                        
                      </div>            
                  </div>
                    <!-- COLUMNS 2 -->
                    <div class="  col-md-9 col-sm-6 m-b30" align="right">
                        <div class="form-group">
                            <select name="term1" id="inputGroupSelect01" [(ngModel)]="term1.c"
                              class="custom-select">
                              <option value="" selected disabled>Choose statut</option>
                              <option value="repondu">Repondu</option>
                              <option value="">All</option>
                              <option value="refuser">Refuser</option>   
                              <option value="archiver">Archiver</option>
  
                              </select>
                          </div>
                                                                        
                        <table class="table table-hover">
                            <!-- <thead>
                              <tr>
                                <th>ID</th>
                                <th>Date</th>

                                <th>Produit</th>

                                <th>Quantite</th>
                                <th>Titre</th>
                                <th>Total</th>
                                <th>QuantiteP</th>
                                <th>User</th>
                                <th>Status</th>
                                <th >Action</th>

                              </tr>
                            </thead> -->
                            <tbody>
                                <tr *ngFor="let devis of devis | filter:term1.c">
                                    <ng-template  [ngIf]="devis.status!='archiver' ">
                                <td><b>Devis</b><br>{{ devis.id }}</td>
                                <td><b>Date</b><br>{{ devis.Date }}</td>

                                <td><b>Produit</b><br>{{ devis.product.name }}</td>
                                <td><b>Quantity</b><br>{{ devis.Quantity }}</td>
                                <!-- <td>{{ devis.Titre }}</td> -->
                                <ng-template [ngIf]="devis.Total!=''">
                                    <td><b>Total</b><br>{{ devis.Total }}dt</td>

                                </ng-template>
                                <!-- <td>{{ devis.product.qte }}</td> -->
                                <td><b>User</b><br>{{ devis.user.firstname }}</td>
                                <td><b>Status</b><br>{{ devis.status}}</td>


                      
                             <td>
                      
                                  <a *ngIf="devis.status =='en attente'"  (click)="repondre(devis.id)" [routerLink]="['/devis/', devis.id, 'edit'] " class="btn btn-info">Repondre</a>
                                
                                  <button type="button" (click)="archiver(devis.id)" class="btn btn-danger"  >Archiver</button>

                                
                                </td>
                        
                      </ng-template>
                              <tr>
                            </tbody>
                        </table>
                  
                    </div>
                    
      
        
     
            


                  
                 
                    
                
                               </div>
  
            </div>
        
    </div>
    <div class="hilite-title text-left p-l50 text-uppercase text-pop-up-top">
        <strong>Devis</strong>
    </div>                
  </div>   
  <!-- OUR PROJECT END -->
  